AplicacionConsolaClienteWS/xml-resources/web-service-references/CalculadoraWS/wsdl/localhost_8080/CalculatorWSApplication2/CalculadoraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.me.org/" name="CalculadoraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.me.org/" schemaLocation="http://localhost:8080/CalculatorWSApplication2/CalculadoraWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="comprar">
<part name="parameters" element="tns:comprar"/>
</message>
<message name="comprarResponse">
<part name="parameters" element="tns:comprarResponse"/>
</message>
<message name="pagar">
<part name="parameters" element="tns:pagar"/>
</message>
<message name="pagarResponse">
<part name="parameters" element="tns:pagarResponse"/>
</message>
<portType name="CalculadoraWS">
<operation name="hello">
<input wsam:Action="http://calculator.me.org/CalculadoraWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://calculator.me.org/CalculadoraWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="comprar">
<input wsam:Action="http://calculator.me.org/CalculadoraWS/comprarRequest" message="tns:comprar"/>
<output wsam:Action="http://calculator.me.org/CalculadoraWS/comprarResponse" message="tns:comprarResponse"/>
</operation>
<operation name="pagar">
<input wsam:Action="http://calculator.me.org/CalculadoraWS/pagarRequest" message="tns:pagar"/>
<output wsam:Action="http://calculator.me.org/CalculadoraWS/pagarResponse" message="tns:pagarResponse"/>
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraWS">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://localhost:8080/CalculatorWSApplication2/CalculadoraWS"/>
</port>
</service>
</definitions>